{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Metalúrgica Itaparica | Soluções Navais e Terrestres</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Oswald:wght@500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'servico/css/style.css' %}">
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF9+5vrgDzDNEiH3Hn0rGDq+Y0CDlDpLREd7O1oOA3b6G4k9B8+" crossorigin="anonymous"></script>
<script src="{% static 'servico/js/main.js' %}" defer></script>
